.pokemon-details {
  padding: 2rem var(--hor-padding);

  display: grid;
  grid-template-columns: calc(var(--hor-padding) / 2) 1fr calc(
      var(--hor-padding) / 2
    );
  .hero {
    grid-column: 2/3;

    &__card {
      width: minmax(50rem, 80%);
      &__image {
        background-size: cover;
      }
      .list-item {
        display: flex;
        h4 {
          margin-right: 0.25rem;
        }
        p {
          margin: 0rem;
          padding: 0rem;
        }
      }
    }
  }
}
